
<div class="form-block">
  <header class="header">
    <div class="header__block header__block_signup">
      <h1 class="header__block_title">Become a member</h1>
      <h5 class="header__block_desc">It's free and will take less than 30 seconds</h5>
    </div>
    <hr class="header__block_sep"/>
  </header>
  <main class="main">
    <div class="main__block main__block_signup">
      <div class="main__block_left">
        <div class="sign-up">
          <form class="sign-up__form">
            <div class="sign-up__block">
              <label class="sign-up__label" for="username">Enter your username</label><i class="fa fa-user fa-2x sign-up__icon" aria-hidden="true"></i>
              <input class="sign-up__field sign-up__field_username" id="username" type="name" placeholder="e.g maister909" required="required"/>
            </div>
            <div class="sign-up__block">
              <label class="sign-up__label" for="email">Enter your email</label><i class="fa fa-envelope fa-2x sign-up__icon" aria-hidden="true"></i>
              <input class="sign-up__field sign-up__field_email" id="email" type="email" placeholder="e.g maister909@gmail.com" required="required"/>
            </div>
            <div class="sign-up__block">
              <label class="sign-up__label" for="password">Enter your password</label><i class="fa fa-lock fa-2x sign-up__icon" aria-hidden="true"></i>
              <input class="sign-up__field sign-up__field_username" id="password" type="password" placeholder="e.g qwerty!123" required="required"/>
            </div>
            <div class="sign-up__block">
              <label class="sign-up__label" for="repeat-password">Confirm your password</label><i class="fa fa-lock fa-2x sign-up__icon" aria-hidden="true"></i>
              <input class="sign-up__field sign-up__field_username" id="repeat-password" type="password" placeholder="e.g qwerty!123" required="required"/>
            </div>
            <div class="sign-up__block"><i class="fa fa-paper-plane fa-2x sign-up__icon sign-up__icon_submit" aria-hidden="true"></i>
              <input class="sign-up__field sign-up__submit" id="submit" type="submit" value="CREATE ACCOUNT"/>
            </div>
          </form>
        </div>
      </div><span class="main__block_sep">OR</span>
      <div class="main__block_right social">
        <div class="social__btns btns">
          <button class="btns__signup social__btns_gl" title="Sign Up with Google +" name="button-g+"><i class="fa fa-google-plus fa-lg fa-icon fa-icon_googleplus"></i><span>SIGN UP USING GOOGLE +</span></button>
          <button class="btns__signup social__btns_fb" title="Sign Up with Facebook" name="button-fb"><i class="fa fa-facebook fa-lg fa-icon fa-icon_facebook"></i><span>SIGN UP USING FACEBOOK</span></button>
          <button class="btns__signup social__btns_tw" title="Sign Up with Twitter" name="button-tw"><i class="fa fa-twitter fa-lg fa-icon fa-icon_twitter"></i><span>SIGN UP USING TWITTER</span></button>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer">
    <div class="footer__block">
      <hr class="footer__block_sep"/>
      <div class="footer__content content">
        <div class="content__footer content__footer_signup">
          <p class="content__footer-text">Do you already have an account? Log in via the sign in form</p><a class="content__footer-link" href="#" title="Sign up via form" onclick="clickLink();">USE SIGN IN FORM →</a>
        </div>
      </div>
    </div>
  </footer>
</div>
<p class="copyright">Developed by <a href="http://codepen.io/therealnorman/">Sergei Myzin</a> - <a href="http://github.devmonkeys.xyz/">Portfolio</a></p>