<div class="h-screen flex bg-gray-100 overflow-hidden">
  <!-- Main Section -->
  <div class="flex-1 flex flex-col h-full overflow-hidden">
    <!-- Top Nav -->
    <header
      class="bg-white shadow-sm z-50 flex items-center justify-between px-4 py-3 fixed top-0 left-0 right-0 lg:left-auto w-full" style="padding: 1em 5em;">
      <div class="flex items-center space-x-4">
        <mat-icon class="text-blue-600">business</mat-icon>
        <div class="flex flex-col">
          <span class="text-lg font-semibold text-gray-800">Circuit Guard</span>
          <span class="text-sm text-gray-500">Service Management Platform</span>
        </div>
         <button routerLink="/layout/team-setUp" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><mat-icon>people</mat-icon>Members</button>
        <button routerLink="/layout/project" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><mat-icon>work</mat-icon>Projects</button>
      </div>

      <div class="flex items-center space-x-4">
        <div class="relative">
          <a mat-icon-button>
            <mat-icon>notifications</mat-icon>
          </a>
          <span
            class="absolute top-0 right-0 inline-flex items-center justify-center px-1.5 py-0.5 text-[10px] font-bold text-white bg-red-600 rounded-full">2</span>
        </div>

        <div
          class="w-8 h-8 rounded-full bg-gray-300 flex items-center justify-center text-gray-600 font-bold cursor-pointer">
          A
        </div>
      </div>
    </header>
    <!-- Router Outlet Content -->
    <main class="flex-1 overflow-y-auto pt-[70px] pb-6 bg-gray-50 custom-scrollbar">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>